{% extends "base.html" %}
{% load static %}

{% block title %}YouTube Keyword Research{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>YT Tags</h1>
        <h2 class="text-center">YouTube Keyword Research Tool</h2>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form }}
          <br>
          <input class="button" type="submit" name="submit">
        </form>
      </div>
    </div>
  </div>
  {% if tags %}
    <h2 class="text-center">{{ title }}</h2>
    <div class="row justify-content-center m-0">
      <div class="col-lg-3">
        <table class="table table-bordered table-responsive">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" scope="col">Tag</th>
              <th class="text-center" scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for tag in tags %}
              <tr>
                <td class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center"><p class="tag">{{ tag.tag }}</p></td>
                <td class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center"><p class="tag">{{ tag.count }}</p></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% if error %}
    <div class="row">
      <p class="alert-danger mx-auto px-5">{{ error }}</p>
    </div>
  {% endif %}
{% endblock %}
