{% extends "base.html" %}
{% load static %}

{% block title %}YouTube Tag Finder{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>YT Tags</h1>
        <h2 class="text-center">Find YouTube Video Tags</h2>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form }}
          <br>
          <input class="button" type="submit" name="submit">
        </form>
      </div>
    </div>
    {% if title %}
      <h2 class="text-center">{{ title }}</h2>
      <div class="row my-5">
        <img src="{{ thumbnail }}" class="mx-auto" />
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" scope="col">Tags</th>
              </tr>
            </thead>
            <tbody>
              {% for tag in tags %}
                <tr>
                  <td class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center"><p class="tag">{{ tag }}</p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    {% if error %}
      <div class="card text-white bg-danger mb-3 mx-auto" style="max-width: 30rem">
        <div class="card-header">Error</div>
        <div class="card-body">
          <p class="card-text">{{ error }}</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
