*::selection {background-color: #4e8ca3;}
html {background-color: #070d10;}
body {
  width: 100%;
  color: #070d10;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}
body, button, input, select, textarea {font-family: 'Raleway', sans-serif;}
a {color: #654ea3;}
a:hover {
  text-decoration: none !important;
  color: #503d81;
}
input {
  color: #070d10;
  width: 80%;
  border: 1px solid #070d10;
  padding: 15px;
  border-radius: 4px;
}
input[type=submit] {cursor: pointer;}
p {margin-bottom: 0;}
h1, h2, h3, h4, h5, h6 {line-height: 1.4em;}
h1 {
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  color: #654ea3;
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: 800;
  display: block;
  text-align: center;
  margin-top: 30px;
}
h2 {font-size: 30px;}
h3 {margin-top: 30px;}
form {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
@media (min-width: @screen-xs-min) and (max-width: @screen-md-max) {
  .tag {font-size: 28px;}
}
@media (min-width: @screen-lg-min) {
  .tag {font-size: 22px;}
}
.tags {margin: 0 auto 30px;}
.btn-primary {
  background-color: #654ea3;
  border-color: #654ea3;
}
.btn-primary:hover {
  background-color: #503d81;
  border-color: #503d81;
}
.button {
    background-color: #654ea3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    transition: all 0.15s ease-in-out;
}
.button:hover {background-color: #503d81;}
.main-container {
  min-height: 80vh !important;
  padding: 0;
}
#footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #070d10;
  color: white;
}
#footer a {color: #654ea3}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.space-30 {height: 30px;}
.space-60 {height: 60px;}
